<div class="container min-vh-100">

	<div class="row">

		<div class="col-lg-12 my-4">

			<h1>Dashboard - GBDA 404 </h1>
			<h4>Click on a students to mark them as present.</h4>
		</div>


		<!--Templated Student Card-->
		{{#each gbda404Data}}
		<div class="col-lg-4 col-md-6 col-sm-8 py-3 student-card" id="{{this.name}}">
			<div class="card card-bg text-center rounded-xl py-1">
				<img src="images/peopleimg.svg" class="card-img-top img-fluid w-50 p-2 mx-auto" alt="..." />
				<div class="card-body">
					<h5 class="card-title">{{this.name}}</h5>
					<p class="card-text">Description</p>
				</div>
			</div>
		</div>
		{{/each}}



		<div class="container">
			<a href="#" class="btn btn-primary">Submit</a>
			<div>

			</div>

		</div>
