<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="scottstyle.css" />

		<title>Add/Edit </title>
	</head>
<div class="wrapper">
         	<nav id="sidebar" class="bg-dark">
		<ul class="list-unstyled components">
					<img  class="img-fluid px-2 mt-2 mb-2 " src="images/uwlogo.png">

			<li class="font-weight-bold">
				<a class="navbar-brand w-100 m-0" href="scottclasses.html">
					<img src="images/home-outline.svg" width="30" height="30" class="d-inline-block align-top"
						alt="">
					Home
				</a>
			</li>
			<li>
				<a class="navbar-brand w-100 m-0" href="takeattendance302.html">
					<img src="images/edit-2-outline.svg" width="30" height="30" class="d-inline-block align-top"
						alt="">
					Take Attendance
				</a>
			</li>
			<li>
				<a class="navbar-brand w-100 m-0" href="viewatttendance.html">
					<img src="images/file-text-outline.svg" width="30" height="30" class="d-inline-block align-top"
						alt="">
					View Attendance
				</a>
			</li>
			<li>
				<a class="navbar-brand w-100 m-0" href="add-edit.html">
					<img src="images/person-add-outline.svg" width="30" height="30" class="d-inline-block align-top"
						alt="">
					Edit Classlist
				</a>
			</li>
		</ul>
	</nav>

	<body>
		{{{body}}}
		<script src="formcontrol.js"></script>

	</body>
	</div>
</html>